# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
backends-common/cassandra/apache-james-backends-cassandra.iml
backends-common/james-backends-common.iml
james-project.iml
mailbox/apache-james-mailbox.iml
mailbox/api/apache-james-mailbox-api.iml
mailbox/caching/apache-james-mailbox-caching.iml
mailbox/cassandra/apache-james-mailbox-cassandra.iml
mailbox/hbase/apache-james-mailbox-hbase.iml
mailbox/jcr/apache-james-mailbox-jcr.iml
mailbox/jpa/apache-james-mailbox-jpa.iml
mailbox/kafka/apache-james-mailbox-kafka.iml
mailbox/lucene/apache-james-mailbox-lucene.iml
mailbox/maildir/apache-james-mailbox-maildir.iml
mailbox/memory/apache-james-mailbox-memory.iml
mailbox/scanning-search/apache-james-mailbox-scanning-search.iml
mailbox/spring/apache-james-mailbox-spring.iml
mailbox/store/apache-james-mailbox-store.iml
mailbox/tika/apache-james-mailbox-tika.iml
mailbox/tool/apache-james-mailbox-tool.iml
mailbox/zoo-seq-provider/zookeeper-sequence-provider.iml
mpt/all/apache-james-mpt-all.iml
mpt/antlib/apache-james-mpt-antlib.iml
mpt/apache-james-mpt.iml
mpt/app/apache-james-mpt-app.iml
mpt/core/apache-james-mpt-core.iml
mpt/impl/imap-mailbox/apache-james-mpt-imapmailbox.iml
mpt/impl/imap-mailbox/cassandra/apache-james-mpt-imapmailbox-cassandra.iml
mpt/impl/imap-mailbox/core/apache-james-mpt-imapmailbox-core.iml
mpt/impl/imap-mailbox/cyrus/apache-james-mpt-imapmailbox-cyrus.iml
mpt/impl/imap-mailbox/external-james/apache-james-mpt-external-james.iml
mpt/impl/imap-mailbox/hbase/apache-james-mpt-imapmailbox-hbase.iml
mpt/impl/imap-mailbox/inmemory/apache-james-mpt-imapmailbox-inmemory.iml
mpt/impl/imap-mailbox/jcr/apache-james-mpt-imapmailbox-jcr.iml
mpt/impl/imap-mailbox/jpa/apache-james-mpt-imapmailbox-jpa.iml
mpt/impl/imap-mailbox/maildir/apache-james-mpt-imapmailbox-maildir.iml
mpt/impl/managesieve/apache-james-mpt-managesieve.iml
mpt/impl/managesieve/cassandra/apache-james-mpt-managesieve-cassandra.iml
mpt/impl/managesieve/core/apache-james-mpt-managesieve-core.iml
mpt/impl/managesieve/file/apache-james-mpt-managesieve-file.iml
mpt/impl/smtp/apache-james-mpt-smtp.iml
mpt/impl/smtp/cassandra/apache-james-mpt-smtp-cassandra.iml
mpt/impl/smtp/core/apache-james-mpt-smtp-core.iml
mpt/mavenplugin/maven-mpt-plugin.iml
mpt/onami-test/apache-james-mpt-onami-test.iml
